<% provide(:title, "Approve question") %>

<div class='row'>
<div class="col-md-2"></div>

<div class='col-md-8'>
	<% if @questions.empty? %>
		<h2>No approvals pending.</h2>
	<% else %>
		<h2> Pending Approvals (<%= @questions.count %>) : </h2>
		<ol class="microposts">
		<%= render partial: 'approval_question', collection: @questions %>
		</ol>
		<%= will_paginate @questions %>
	<% end %>
</div>

</div>