<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the Quizzup!</h1>

  <h2>
    Your doorway to unlimited quizzes.
  </h2>

  <%= link_to "Sign up now!", signup_url, class: "btn btn-lg btn-primary" %>
</div>
